

@font-face {
    font-family: "GmarketSansBold";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff") format('woff');
    font-weight: normal;
    font-style: normal;
 }
 @font-face {
    font-family: "NEXON Lv1 Gothic OTF";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff")
       format("woff");
    font-weight: normal;
    font-style: normal;
 }
 body {
    width: 100%;
    color: #000;
    font-family: "NEXON Lv1 Gothic OTF";
 }
 .headA_logo {
    text-align: center;
 }
 .headA_logo img {
    width: 150px;
 }
 .headA_recommend_1_btn:hover {
    opacity: 0.7;
 }
 .headA_recommend_1_img img {
    position: absolute;
    left: 15%;
    width: 343px;
 }
 .headA_recommend_1_btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 30px;
    margin-top: 5%;
    position: absolute;
    width: 210px;
    height: 40px;
    left: 20%;
    top: 300px;

    background: rgba(32, 32, 32, 0.4);
    backdrop-filter: blur(4px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 30px;
 }
 .submit_1 {
    text-align: center;
    font-size: 110%;
    font-weight : bold;
 }
 .headA_recoeemnd_1_tag_1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 6px;
    position: absolute;
    left: 15.13%;
    top: 390px;
    font-size: 90%;
    border: 1px solid #F5F5F5;
    box-sizing: border-box;
    border-radius: 20px;
 }

 .bodyA_text {
    position: absolute;
    width: 200px;
    height: 18px;
    top: 500px;
    font-style: normal;
    font-weight: 500;
    font-size: 110%;
    font-weight : bold;
    line-height: 18px;
    text-align: center;
    left :150px;
 }
 .theme_park_pic {
    position: absolute;
    width: 165px;
    height: 165px;
    left: 23px;
    top: 440px;

    background: url("");
    background: url("/images/테마파크.png");
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
 }